/* base */
@charset "UTF-8";
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
li {
    padding: 0;
    margin: 0;
    }
  
a {
    text-decoration: none;
    }
  
  .font-family, .menu-logo, .banner-contain, .text-type, .text-name, .intro-maintitle, .intro-writer, .card-name, .footer {
    font-family: "Playfair Display", serif;
  }
  
  .text_style {
    color: gray;
    font-size: 0.9rem;
  }
  
  .flex, .wrapper, .card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1100px;
    padding: 0 3%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .trans, .btn, .topBar-text, .search-text, .search-btn, .menu-logoText, .menu-text, .menu-text::before, .banner-btn, .pro-img, .item-textBox, .card, .card-img, .footer-logo {
    transition: 0.5s ease;
  }
  
  .btn {
    font-size: 0.9rem;
    letter-spacing: 1px;
    border: 1px #fff solid;
    padding: 6px 30px;
    display: inline-block;
    color: #fff;
  }
  .btn:hover {
    background-color: #EA6286;
    border: 1px #EA6286 solid;
  }
  
  body {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  .header-bg {
    background-color: #33A7C4;
  }
  
  .header-topBar {
    background-color: #45afca;
  }
  
  .topBar-link {
    width: 50%;
  }
  
  .topBar-text {
    color: #E9E6FF;
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 7px;
    padding-top: 7px;
  }
  .topBar-text:hover {
    color: #EA6286;
  }
  
  .topBar-search {
    width: 50%;
  }
  
  .search-box {
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 0.8rem;
    width: 100%;
    margin: 5px 0 5px;
    margin-left: auto;
    position: relative;
    padding-right: 40px;
    text-align: right;
  }
  
  .search-text {
    border: none;
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 4px 10px;
  }
  .search-text:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .search-btn {
    color: #fff;
    background-color: #EA6286;
    border-radius: 20px;
    padding: 3px 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .search-btn:hover {
    background-color: #d1d43a;
  }
  
  .menu-wrapper {
    align-items: center;
    padding: 1em 3%;
  }
  
  .menu-logo {
    width: 320px;
  }
  
  .menu-logoText {
    color: #fff;
    font-size: 3.5rem;
    position: relative;
  }
  .menu-logoText:hover {
    opacity: 0.6;
  }
  .menu-logoText::after {
    content: "";
    position: absolute;
    border-bottom: 1px #E9E6FF solid;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 2px;
  }
  .menu-logoText em {
    color: #E9E6FF;
    font-size: 1.25rem;
  }
  
  .menu-mainBtn {
    width: calc(100% - 320px);
  }
  
  .menu-list {
    text-align: right;
  }
  
  .menu-item {
    display: inline-block;
    font-size: 0.9rem;
  }
  
  .menu-text {
    color: #E9E6FF;
    margin: 0 0.5em;
    padding: 0 0.5em;
    position: relative;
  }
  .menu-text::before {
    bottom: -5px;
    border-bottom: 1px #E9E6FF solid;
    content: "";
    height: 1px;
    position: absolute;
    width: 0%;
    left: 0;
  }
  .menu-text:hover {
    color: #EA6286;
  }
  .menu-text:hover::before {
    border-bottom: 1px #EA6286 solid;
    width: 100%;
  }
  
  .banner {
    width: 100%;
    height: 500px;
    background-image: url(https://visualhunt.com/photos/xl/7/office-contemporary-table.jpg);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .banner-wrapper {
    align-items: center;
    height: 100%;
  }
  
  .banner-text {
    color: #fff;
    font-size: 3.5rem;
  }
  
  .banner-date {
    font-size: 0.9rem;
  }
  
  .banner-contain {
    line-height: 1.2;
    padding: 0px 0 30px;
  }
  
  .banner-btn {
    border: 1px #fff solid;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 6px 30px;
  }
  .banner-btn:hover {
    background-color: #EA6286;
    border: 1px #EA6286 solid;
  }
  
  .pro-list {
    padding: 4em 3%;
  }
  
  .pro-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 15px;
    position: relative;
    width: calc(100% / 3 - 30px / 3);
  }
  .pro-item:nth-child(3) {
    margin-right: 0;
  }
  .pro-item:hover .pro-img {
    opacity: 0.6;
  }
  .pro-item:hover .item-textBox {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .pro-img {
    width: 100%;
    display: block;
    opacity: 1;
  }
  
  .item-textBox {
    align-items: center;
    background-color: rgba(233, 230, 255, 0.85);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 47%;
    justify-content: center;
    padding: 1.3em 0;
    position: absolute;
    text-align: center;
    width: 60%;
  }
  
  .text-type {
    color: #EA6286;
    font-size: 0.9rem;
    width: 100%;
  }
  
  .text-name {
    color: #000;
    font-size: 1.5rem;
    width: 100%;
  }
  
  .intro-out {
    border-bottom: 1px #E9E6FF solid;
  }
  
  .introduction {
    width: 100%;
    text-align: center;
    padding-bottom: 4em;
  }
  
  .intro-date {
    color: #33A7C4;
    font-size: 0.9rem;
  }
  
  .intro-maintitle {
    color: #EA6286;
    font-size: 50px;
  }
  
  .intro-writer {
    color: #d1d43a;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding-bottom: 3em;
  }
  
  .introBtn {
    border: 1px #33A7C4 solid;
    color: #33A7C4;
  }
  .introBtn:hover {
    border: 1px #EA6286 solid;
    color: #fff;
  }
  
  .card-list {
    padding: 4em 0;
  }
  
  .card-wrapper {
    align-items: flex-start;
    padding: 0em 3%;
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 1em;
    position: relative;
    padding-bottom: 2em;
    width: calc(100% / 3 - 30px / 3);
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
  .card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  }
  .card:hover .card-img {
    opacity: 1;
  }
  
  .card-img {
    align-self: flex-start;
    display: block;
    width: 100%;
    opacity: 0.6;
  }
  
  .card-name {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
    padding: 1em 0 0;
    width: 100%;
  }
  
  .card-date {
    width: 100%;
    text-align: center;
    color: #EA6286;
    font-size: 0.8rem;
    font-weight: lighter;
  }
  
  .card-text {
    width: 100%;
    color: #cecece;
    font-weight: lighter;
    padding: 1em;
  }
  
  .card-btn {
    background: #E9E6FF;
    border: 1px solid #E9E6FF;
    cursor: pointer;
  }
  
  .footer {
    background-color: #E9E6FF;
    margin-top: 3em;
    text-align: center;
    position: relative;
  }
  .footer:before {
    width: 20px;
    height: 20px;
    border: #fff0 10px solid;
    border-bottom: 10px #E9E6FF solid;
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: -20px;
  }
  
  .footer-top {
    padding: 4em 0;
    width: 100%;
  }
  
  .footer-logo {
    color: #33A7C4;
    font-size: 3.5rem;
    position: relative;
  }
  .footer-logo:hover {
    opacity: 0.6;
  }
  .footer-logo span {
    color: #EA6286;
  }
  .footer-logo em {
    font-size: 1.25rem;
  }
  
  .footer-bottom {
    padding: 3em 0 1em;
    width: 100%;
  }
  
  .footer-list {
    border-bottom: 1px #fff solid;
    display: flex;
    justify-content: space-around;
  }
  
  .footer-item {
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    padding-bottom: 0.5em;
    width: 15px;
  }
  .footer-item::after {
    background-color: #fff;
    bottom: 0;
    content: "";
    left: 7px;
    height: 5px;
    position: absolute;
    width: 1px;
  }
  
  @media only screen and (max-width: 768px) {
    .menu-logo {
      width: 100%;
      text-align: center;
    }
  
    .menu-mainBtn {
      width: 100%;
    }
  
    .menu-list {
      text-align: center;
    }
  
    .banner {
      width: 100%;
      height: 400px;
    }
  
    .pro-item, .card {
      margin-right: 15px;
      padding: 0 0 15px;
      width: calc(100% / 2 - 30px / 2);
    }
    .pro-item:nth-child(2), .card:nth-child(2) {
      margin-right: 0px;
    }
    .pro-item:nth-child(3), .card:nth-child(3) {
      margin-right: 15px;
    }
  }
  @media only screen and (max-width: 567px) {
    .topBar-link {
      width: 100%;
      text-align: right;
    }
  
    .topBar-search {
      width: 100%;
    }
  
    .banner {
      width: 100%;
      height: 350px;
      background-size: auto 100%;
      background-position: top;
    }
  
    .pro-list {
      padding: 2em 3%;
    }
  
    .pro-item, .card {
      margin-right: 0px;
      padding: 0 0 15px;
      position: relative;
      width: 100%;
    }
    .pro-item:nth-child(2), .card:nth-child(2) {
      margin-right: 0px;
    }
    .pro-item:nth-child(3), .card:nth-child(3) {
      margin-right: 0px;
    }
  }
  